@import 'jeet'

body
   font-size 20px
   margin 0
   padding 0

section
   center()

   .col-left
      col(1/4)
      background-color blue
      color white

   article
      col(2/4)
      background-color red

      p
         background-color white
         text-align justify
         line-height 1.5
         font-size 18px
         padding 10px

   .col-right
      col(1/4)
      background-color yellow
