$grid-col: 12; //número máximo de colunas do grid
$grid-max-width: 65em; //larguma máxima do grid

$breakpoint-small: "only screen and (min-width: 20em)"; //media querie telas pequenas
$breakpoint-medium: "only screen and (min-width: 30em)"; //meqia querie telas médias

@mixin border-box{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:after, *:before{
	margin: 0;
	padding: 0;

	@include border-box;
}

%clearfix{
	*zoom: 1;
	
	&:before, &:after{
		content: " ";
		display: table;
	}

	&:after{
		clear: both;
	}
}

.container, .row{
	@extend %clearfix;
}

.container{
	width: 95%;
	max-width: $grid-max-width;

	margin: 0 auto;
	background-color: #acacac;
}

.row{
	margin-bottom: 10px;
}

.row:last-child{
	margin-bottom: 0;
}

[class*='col-']{
	float: left;
	padding: 1em;
	width: 100%;
	min-height: 1px;

	background-color: #dcdcdc;
	border: 1px solid #f00;
}

@media only screen and (min-width: 30em){
	@for $cont from 1 through 12{
		.col-#{$cont}{
			width: 100% / $grid-col * $cont;
		}
	}
}